@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=SUSE:wght@100..800&display=swap');

body, html{
    margin: 0;
    background-color: #2f4f4f;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

*{
    color: antiquewhite;
    font-family: 'Gabarito';
    font-size: 1.5rem;
}

::selection{
    background: #FFA0CC;
    color: antiquewhite;
}

.logo{
    font-size: 5rem;
    font-weight: 800;
    font-family: 'SUSE';
    margin-bottom: 3vh;
    user-select: none;
    width: 100vw;
    text-align: center;
}

.form{
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

textarea{
    background: transparent;
    color: antiquewhite;
    resize: none;
    outline: none;
    border: 2px solid antiquewhite;
    box-sizing: border-box;
    padding: 1vh;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

textarea::placeholder{
    font-size: 1rem;
    color: antiquewhite;
    font-weight: 200;
    font-style: italic;
}

button{
    transition: 500ms;
    margin-top: 1vh;
    background: transparent;
    color: antiquewhite;
    resize: none;
    outline: none;
    border: 2px solid antiquewhite;
    box-sizing: border-box;
    padding: 1vh;
    width: 100%;
}

button:last-of-type{
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 3vh;
}

button:hover{
    background: antiquewhite;
    color: #2f4f4f;
}

.slider-label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
}

.slider-label label{
    font-size: 1.2rem;
}

input[type="range"]{
    width: 50%;
    box-sizing: border-box;
    background: #2f4f4f;
    height: 3vh;
    appearance: none;
    border: none;
    outline: none;
    padding: .75vh .5vh;
    border: 2px solid antiquewhite;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    height: 2vh;
    aspect-ratio: 1;
    background: antiquewhite
}        

#pitch{
    border-radius: .5rem .5rem 0 0;
}

#speed{
    border-radius: 0 0 .5rem .5rem;
}

@media (width < 1150px){
    .form{
        width: 50vw;
    }
}

@media (width < 750px){
    .form{
        width: 75vw;
    }

    .logo{
        font-size: 3rem;
    }
}